workspace("{{WORKSPACE_PATH}}")
scheme("{{SCHEME_NAME}}")
configuration("Release")
clean(true)
output_directory("./build")
output_name("{{APP_NAME}}")
export_method("app-store")
include_bitcode(true)
include_symbols(true)
disable_xcpretty(false)