name: adjust env

on:
  workflow_dispatch:


jobs:
  build:
    runs-on: macos-14
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: android env
        run: |
            cd /Users/runner/Library/Android/sdk
            ls
            echo "==== ls platform-tools ======"
            cd platform-tools
            ls
            echo "===== emulator -list-avds ====="
            emulator -list-avds
            echo "===== ls cmdline-tools ====="
            cd ../cmdline-tools
            ls
            echo "===== ls latest ====="
            cd latest
            ls
            echo "===== ls bin ====="
            cd bin
            ls
      - name: android env set
        run: |
            /Users/runner/Library/Android/sdk/cmdline-tools/latest/bin/sdkmanager --list
            echo "/Users/runner/Library/Android/sdk/cmdline-tools/latest/bin" >> $GITHUB_PATH
            echo "/Users/runner/Library/Android/sdk/platform-tools" >> $GITHUB_PATH
    
      - name: android env adjust
        run: |
            sdkmanager --list
       

