name: adjust env

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose environment (prod or test)'
        required: true
        default: 'prod'

jobs:
  build:
    runs-on: macos-13
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
    
      # 设置环境变量
      - name: env set
        run: |
            echo "/Users/runner/Library/Android/sdk/cmdline-tools/latest/bin" >> $GITHUB_PATH
            echo "/Users/runner/Library/Android/sdk/platform-tools" >> $GITHUB_PATH
      
      # 安装安装模拟器，用于截图
      - name: Install Android SDK and Emulator
        run: |          
          echo "Installing Android SDK and system image..."
          yes | sdkmanager "platforms;android-30" "system-images;android-30;google_apis;x86_64"


          echo "Accepting licenses..."
          yes | sdkmanager --licenses
          
          echo "Creating AVD..."
          echo "no" | avdmanager create avd -n pixel_5 -k "system-images;android-30;google_apis;x86_64" --device "pixel_5"
        

        # 安卓截屏
      - name: android start
        if: ${{ github.event.inputs.environment == 'prod' }}
        run: |
          /Users/runner/Library/Android/sdk/emulator/emulator -avd pixel_5 -no-window -no-audio -gpu swiftshader_indirect -verbose -no-boot-anim & 
          echo "Waiting for the emulator to boot..."
          # 等待模拟器启动完成
          adb wait-for-device

          echo "Emulator is ready. Performing actions..." 
          adb -s emulator-5554 emu kill

      
       


