name: adjust env

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose environment (prod or test)'
        required: true
        default: 'prod'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: 检查 Java 安装路径
        run: ls -l /usr/lib/jvm/

      - name: 删除不需要的 Java 版本
        run: |
          sudo rm -rf /usr/lib/jvm/temurin-11*
          sudo rm -rf /usr/lib/jvm/temurin-21*