name: adjust env

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose environment (prod or test)'
        required: true
        default: 'prod'

jobs:
  build:
    runs-on: macos-15
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
    
      # 设置环境变量
      - name: env set
        run: |
            echo "/Users/runner/Library/Android/sdk/cmdline-tools/latest/bin" >> $GITHUB_PATH
            echo "/Users/runner/Library/Android/sdk/platform-tools" >> $GITHUB_PATH
      
      - name: Show available simulators
        run: |
          xcrun simctl list devices
          echo "===================="
          xcrun simctl list runtimes