name: adjust env

on:
  workflow_dispatch:


jobs:
  build:
    runs-on: macos-14
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: android env
        run: |
            cd /Users/runner/Library/Android/sdk
            ls
            cd platform-tools
            ls
            emulator -list-avds
