name: Expo android build and deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose environment (prod or test)'
        required: true
        default: 'test'
      projectID:
        description: 'project id'
        required: true
        default: ''
      needPackType:
        description: 'need pack type'
        required: true
        default: 'apk,aab'
      needScreengrab:
        description: 'need screengrab'
        required: true
        default: 'true'
      appUploadCommand:
        description: 'app upload command(internal|alpha|beta|release)'
        required: false
        default: ''
      language:
        description: 'app use language'
        required: false
        default: 'zh-Hans'
      runner_name:
        description: 'runner name'
        required: false
        default: '4c-Ubuntu-X64'

jobs:
    main-task:
        name: Android - Build and run Detox tests
        runs-on: ${{ github.event.inputs.runner_name }}
        timeout-minutes: 60
        permissions:
            contents: read
        env:
          NODE_ENV: development

        outputs:
          # 定义一个 job 的输出，用于通知步骤
          lock_status: ${{ steps.acquire_lock.outputs.status }}
          job_conclusion: ${{ job.status }}
          
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4
              with:
                fetch-depth: 1

            - name: Parse SECRET
              id: parse
              run: |
                # AWS S3
                echo "AWS_ACCESS_KEY_ID=$(echo '${{ secrets.S3_SECRET }}' | jq -r '.aws_access_key_id')" >> $GITHUB_ENV
                echo "AWS_SECRET_ACCESS_KEY=$(echo '${{ secrets.S3_SECRET }}' | jq -r '.aws_secret_access_key')" >> $GITHUB_ENV
                echo "AWS_REGION=$(echo '${{ secrets.S3_SECRET }}' | jq -r '.region_name')" >> $GITHUB_ENV
                echo "BUCKET_NAME=$(echo '${{ secrets.S3_SECRET }}' | jq -r '.bucket_name')" >> $GITHUB_ENV

                # redis
                echo "REDIS_HOST=$(echo '${{ secrets.REDIS_CONF }}' | jq -r '.redis_host')" >> $GITHUB_ENV
                echo "REDIS_PORT=$(echo '${{ secrets.REDIS_CONF }}' | jq -r '.redis_port')" >> $GITHUB_ENV
                echo "REDIS_PASSWORD=$(echo '${{ secrets.REDIS_CONF }}' | jq -r '.password')" >> $GITHUB_ENV

            - name: Install system dependencies
              run: |
                sudo apt-get update
                sudo apt-get install -y libpulse0
                sudo apt-get install -y redis-tools

            - name: '生成唯一的 Lock Key'
              id: lock_key_generator
              run: |
                # 将输入参数组合并通过 sha256sum 生成一个固定的、唯一的 key
                # 这样可以确保相同参数的请求生成相同的 key
                LOCK_KEY="github-action-lock:${{ github.event.inputs.environment }}-${{ github.event.inputs.projectID }}-android"
                echo "Generated Lock Key: $LOCK_KEY"
                echo "lock_key=$LOCK_KEY" >> $GITHUB_OUTPUT

            - name: '尝试获取 Redis 锁'
              id: acquire_lock
              run: |
                LOCK_VALUE="${{ github.run_id }}-${{ github.run_attempt }}"
                LOCK_TIMEOUT=1800 # 30分钟
                RESULT=$(redis-cli \
                  -h ${{ env.REDIS_HOST }} \
                  -p ${{ env.REDIS_PORT }} \
                  -a ${{ env.REDIS_PASSWORD }} \
                  SET ${{ steps.lock_key_generator.outputs.lock_key }} "$LOCK_VALUE" NX EX $LOCK_TIMEOUT)

                if [ "$RESULT" == "OK" ]; then
                  echo "成功获取锁，将继续执行任务。"
                  echo "status=acquired" >> $GITHUB_OUTPUT
                else
                  echo "获取锁失败，任务已被锁定。将跳过主要步骤。"
                  echo "status=locked" >> $GITHUB_OUTPUT
                  exit 1
                fi      


            - name: 删除不需要的 Java 版本(节省系统空间)
              run: |
                sudo rm -rf /usr/lib/jvm/temurin-11*
                sudo rm -rf /usr/lib/jvm/temurin-21*

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                node-version: 22.2.0
                cache: 'npm'
                cache-dependency-path: './app-demo/package-lock.json'

            - name: Set up Ruby
              uses: ruby/setup-ruby@v1
              with:
                ruby-version: '3.4.5'
                bundler-cache: true 

            - name: Setup Java
              uses: actions/setup-java@v4
              with:
                distribution: zulu
                java-version: 17

            # 线上环境，下载项目源码
            - name: Download Expo source (for prod environment)
              if: ${{ github.event.inputs.environment == 'prod' }}
              uses: ./.github/actions/download_project
              with:
                env: dev
                project_id: myproject
            
            # 测试环境，恢复谷歌服务账号
            - name: deal test env
              if: ${{ github.event.inputs.environment != 'prod' }}
              run: |
                mkdir -p fastlane_templates/certificates/
                printf "%s" "${{ secrets.GOOGLE_PLAY_SERVICE_ACCOUNT_JSON }}" > fastlane_templates/certificates/google-play-service-account.json

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ env.AWS_REGION }}


            # 正式环境，从S3下载谷歌服务账号
            - name: deal prod env
              if: ${{ github.event.inputs.environment == 'prod' }}
              run: |
                mkdir -p fastlane_templates/certificates/
                aws s3 cp s3://${{ env.BUCKET_NAME }}/${{ github.event.inputs.projectID }}/certificates/google-play-service-account.json fastlane_templates/certificates/google-play-service-account.json

            
            - name: Npm install
              run: |
                cd app-demo
                npm install

            - name: Cache Expo CLI
              uses: actions/cache@v4
              with:
                path: ~/.expo
                    # 由於 package.json 相同，使用 lock 檔案來決定 Expo 工具鏈的快取
                key: ${{ runner.os }}-expo-${{ hashFiles(format('{0}/package-lock.json', github.event.inputs.appName)) }}
                restore-keys: |
                  ${{ runner.os }}-expo-
            
            - name: Cache Gradle dependencies
              uses: actions/cache@v4
              with:
                path: |
                  ~/.gradle/caches
                  ~/.gradle/wrapper
                      # key 保持不變，它會基於生成的 build.gradle 檔案，但 restore-keys 可以提供向下相容
                key: ${{ runner.os }}-gradle-${{ hashFiles(format('{0}/android/gradle/wrapper/gradle-wrapper.properties', github.event.inputs.appName)) }}
                restore-keys: |
                  ${{ runner.os }}-gradle-


            # 构建安卓源码
            - name: Build for or Android
              run: |
                cd app-demo
                npx expo prebuild --platform android

            # 执行fastlane配置脚本
            - name: exec manage_fastlane.sh
              run: |
                ./manage_fastlane.sh app-demo android

            # 构建安卓的apk包，Abb包(prod)
            - name: android build prod
              run: |
                cd app-demo/android
                NEED_PACK_TYPE="${{ github.event.inputs.needPackType }}"
                NEED_SCREEN_GRAB="${{ github.event.inputs.needScreengrab }}"

                if [[ "$NEED_PACK_TYPE" == *"apk"* ]] || [[ "$NEED_SCREEN_GRAB" == "true" ]]; then
                  echo "Building APK..."
                  ./fastlane/deploy_android.sh build_debug
                fi

                if [[ "$NEED_PACK_TYPE" == *"aab"* ]]; then
                  echo "Building AAB..."
                  ./fastlane/deploy_android.sh build_aab
                fi
                
            - name: Enable KVM group perms
              if: ${{ github.event.inputs.runner_name == '4c-Ubuntu-X64' }} && ${{ github.event.inputs.needScreengrab == 'true' }}
              run: |
                echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
                sudo udevadm control --reload-rules
                sudo udevadm trigger --name-match=kvm
            
            - name: Run Detox tests
              if: ${{ github.event.inputs.needScreengrab == 'true' }}
              uses: reactivecircus/android-emulator-runner@v2
              with:
                api-level: 29
                target: default
                arch: x86_64
                ram-size: 2048M
                heap-size: 512M
                disk-size: 4096M
                avd-name: Android_API29
                force-avd-creation: false
                emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none -no-skin -no-metrics
                disable-animations: true
                script: |
                    # Wait for package manager to be ready
                    adb wait-for-device
                    adb shell 'while [[ -z $(getprop sys.boot_completed) ]]; do sleep 1; done'
                    adb shell 'while [[ -z $(getprop dev.bootcomplete) ]]; do sleep 1; done'
                    # Additional wait for package manager
                    timeout 300 bash -c 'until adb shell pm list packages > /dev/null 2>&1; do sleep 5; done'

                    adb shell wm size
                    adb shell dumpsys activity top
                    mkdir -p app-demo/debug
                    adb exec-out screencap -p > app-demo/debug/SystemUI1.png

                    adb shell input tap 540 1100
                    adb exec-out screencap -p > app-demo/debug/SystemUI-540-1100.png

                    adb shell input tap 540 1150
                    adb exec-out screencap -p > app-demo/debug/SystemUI-540-1150.png

                    adb shell input tap 500 1150
                    adb exec-out screencap -p > app-demo/debug/SystemUI-500-1150.png


                    cd app-demo/android && ./fastlane/deploy_android.sh screengrab
          
            # 安卓上传应用市场
            - name: android appUpload
              if: ${{ github.event.inputs.appUploadCommand != '' }}
              run: |
                cd app-demo/android
                ./fastlane/deploy_android.sh ${{github.event.inputs.appUploadCommand}}

            
            - name: Upload Screenshots and Logs
              if: always() && steps.acquire_lock.outputs.status == 'acquired'
              uses: actions/upload-artifact@v4
              with:
                name: detox-debug-artifacts
                path: |
                  app-demo/debug
                  app-demo/android/fastlane/metadata/android
                retention-days: 5

            - name: Upload build to S3
              continue-on-error: true
              run: |
                # 上传文件夹带 --recursive
                APP_NAME="app-demo"
                PROJECT_ID="${{ github.event.inputs.projectID }}" 

                APK_PATH="$APP_NAME/android/app/build/outputs/apk/debug/app-debug.apk"
                AAB_PATH="$APP_NAME/android/app/build/outputs/bundle/release/app-release.aab"
                SCREENSHOT_DIR="$APP_NAME/android/fastlane/metadata/android/zh-CN/images/phoneScreenshots"

                echo "Checking files for app: $APP_NAME"

                # 上传 APK
                if [ -f "$APK_PATH" ]; then
                  echo "Uploading $APK_PATH to s3://${{ env.BUCKET_NAME }}/$PROJECT_ID/"
                  aws s3 cp "$APK_PATH" "s3://${{ env.BUCKET_NAME }}/$PROJECT_ID/"
                fi

                # 上传 AAB
                if [ -f "$AAB_PATH" ]; then
                  echo "Uploading $AAB_PATH to s3://${{ env.BUCKET_NAME }}/$PROJECT_ID/"
                  aws s3 cp "$AAB_PATH" "s3://${{ env.BUCKET_NAME }}/$PROJECT_ID/"
                fi

                # 上传截图文件夹
                if [ -d "$SCREENSHOT_DIR" ]; then
                  if [ "$(ls -A "$SCREENSHOT_DIR")" ]; then
                    echo "Uploading screenshots from $SCREENSHOT_DIR to s3://${{ env.BUCKET_NAME }}/$PROJECT_ID/phoneScreenshots/"
                    aws s3 cp "$SCREENSHOT_DIR" "s3://${{ env.BUCKET_NAME }}/$PROJECT_ID/phoneScreenshots/" --recursive
                  fi
                fi

            - name: '释放 Redis 锁'
              # 使用 if: always() 确保无论任务成功还是失败，都会尝试释放锁
              if: always() && steps.acquire_lock.outputs.status == 'acquired'
              run: |
                if [ "${{ steps.acquire_lock.outcome }}" == "success" ]; then
                  redis-cli \
                    -h ${{ env.REDIS_HOST }} \
                    -p ${{ env.REDIS_PORT }} \
                    -a ${{ env.REDIS_PASSWORD }} \
                    DEL ${{ steps.lock_key_generator.outputs.lock_key }}
                  echo "锁已释放。"
                else
                  echo "未曾获取锁，无需释放。"
                fi
  

    # 使用一个独立的 Job 来处理通知，这样逻辑更清晰
    # 它依赖于 main-task job，并在其完成后运行
    notify-server:
      runs-on: ubuntu-latest
      needs: main-task # 依赖 main-task job
      if: always() # 无论 main-task 成功、失败还是被跳过，都运行此 job

      steps:
        - name: '发送任务完成情况通知'
          run: |
            LOCK_STATUS="${{ needs.main-task.outputs.lock_status }}"
            JOB_CONCLUSION="${{ needs.main-task.outputs.job_conclusion }}"
            
            # 决定最终的通知状态
            FINAL_STATUS=""
            if [ "$LOCK_STATUS" == "locked" ]; then
              FINAL_STATUS="skipped_due_to_lock"
              echo "任务因锁定被跳过。"
            elif [ "$JOB_CONCLUSION" == "success" ]; then
              FINAL_STATUS="success"
              echo "任务执行成功。"
            else
              # 如果获取了锁，但 job 失败了
              FINAL_STATUS="failure"
              echo "任务执行失败。"
            fi
          