name: Expo android build and deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose environment (prod or test)'
        required: true
        default: 'test'
      appName:
        description: 'app name'
        required: true
        default: 'app-demo'
      needPackType:
        description: 'need pack type'
        required: true
        default: 'apk,aab'
      needScreengrab:
        description: 'need screengrab'
        required: true
        default: 'true'
      appUploadCommand:
        description: 'app upload command'
        required: false
        default: ''
      testUserCacheAPK:
        description: 'use test apk'
        required: false
        default: 'false'
      language:
        description: 'app use language'
        required: false
        default: 'zh-Hans'

jobs:
    
    build-and-test-android:
        name: Android - Build and run Detox tests
        runs-on: ubuntu-latest
        timeout-minutes: 60
        permissions:
            contents: read
        env:
          NODE_ENV: development
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4
              with:
                fetch-depth: 1

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                node-version: 22.2.0
                cache: 'npm'
                cache-dependency-path: './${{ github.event.inputs.appName }}/package-lock.json'

            - name: Set up Ruby
              uses: ruby/setup-ruby@v1
              with:
                ruby-version: '3.4.5'
                bundler-cache: false 

            - name: Setup Java
              uses: actions/setup-java@v4
              with:
                distribution: zulu
                java-version: 17
            
            - name: Install system dependencies
              run: |
                sudo apt-get update
                sudo apt-get install -y libpulse0

            # 线上环境，下载项目源码
            - name: Download Expo source (for prod environment)
              if: ${{ github.event.inputs.environment == 'prod' }}
              run: |
                curl -L https://your-server.com/expo-source.zip -o app-demo.zip
                unzip app-demo.zip
            
            # 测试环境，恢复谷歌服务账号
            - name: deal test env
              if: ${{ github.event.inputs.environment == 'test' }}
              run: |
                mkdir -p fastlane_templates/certificates/
                echo "$GOOGLE_PLAY_SERVICE_ACCOUNT_JSON" > fastlane_templates/certificates/google-play-service-account.json


            - name: Parse S3_SECRET
              id: parse
              if: ${{ github.event.inputs.environment == 'test' }}
              run: |
                # 使用管道避免写入文件系统
                echo "AWS_ACCESS_KEY_ID=$(echo '${{ secrets.S3_SECRET }}' | jq -r '.aws_access_key_id')" >> $GITHUB_ENV
                echo "AWS_SECRET_ACCESS_KEY=$(echo '${{ secrets.S3_SECRET }}' | jq -r '.aws_secret_access_key')" >> $GITHUB_ENV
                echo "AWS_REGION=$(echo '${{ secrets.S3_SECRET }}' | jq -r '.region_name')" >> $GITHUB_ENV
                echo "BUCKET_NAME=$(echo '${{ secrets.S3_SECRET }}' | jq -r '.bucket_name')" >> $GITHUB_ENV

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ env.AWS_REGION }}
            
            - name: Npm install
              run: |
                cd ${{ github.event.inputs.appName }}
                npm install


            # 构建安卓源码
            - name: Build for or Android
              run: |
                cd ${{ github.event.inputs.appName }}
                npx expo prebuild --platform android

            # 执行fastlane配置脚本
            - name: exec manage_fastlane.sh
              run: |
                ./manage_fastlane.sh ${{ github.event.inputs.appName }} android

            # 构建安卓的apk包，Abb包(prod)
            - name: android build prod
              env:
                DEBUG: tamagui
              if: ${{ github.event.inputs.environment == 'prod' }}
              run: |
                cd ${{ github.event.inputs.appName }}/android
                NEED_PACK_TYPE="${{ github.event.inputs.needPackType }}"
                NEED_SCREEN_GRAB="${{ github.event.inputs.needScreengrab }}"

                if [[ "$NEED_PACK_TYPE" == *"apk"* ]] || [[ "$NEED_SCREEN_GRAB" == "true" ]]; then
                  echo "Building APK..."
                  ./fastlane/deploy_android.sh build_debug
                fi

                if [[ "$NEED_PACK_TYPE" == *"aab"* ]]; then
                  echo "Building AAB..."
                  ./fastlane/deploy_android.sh build_aab
                fi
                
            
            # 构建安卓的apk包，Abb包
            - name: android build test
              env:
                GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                DEBUG: tamagui
              if: ${{ github.event.inputs.environment == 'test' }}
              run: |
                if [ "${{ github.event.inputs.testUserCacheAPK }}" == "false" ]; then
                    cd ${{ github.event.inputs.appName }}/android
                    ./fastlane/deploy_android.sh build_debug
                else
                    cd ${{ github.event.inputs.appName }}/android
                    
                    mkdir -p app/build/outputs/apk/debug
                    mkdir -p app/build/outputs/apk/androidTest/debug

                    TAG="v1.0.0-data"

                    gh release download $TAG --pattern 'app-debug.apk' --clobber
                    gh release download $TAG --pattern 'app-debug-androidTest.apk' --clobber

                    mv app-debug.apk app/build/outputs/apk/debug/app-debug.apk
                    mv app-debug-androidTest.apk app/build/outputs/apk/androidTest/debug/app-debug-androidTest.apk
                    
                    ls -lR app/build/outputs/apk/
                fi
            
 
            - name: Run Detox tests
              uses: reactivecircus/android-emulator-runner@v2
              with:
                api-level: 29
                target: default
                arch: x86_64
                ram-size: 2048M
                heap-size: 512M
                disk-size: 6144M
                avd-name: Android_API29
                force-avd-creation: false
                emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none -no-skin -no-metrics
                disable-animations: true
                script: |
                    # Wait for package manager to be ready
                    adb wait-for-device
                    adb shell 'while [[ -z $(getprop sys.boot_completed) ]]; do sleep 1; done'
                    adb shell 'while [[ -z $(getprop dev.bootcomplete) ]]; do sleep 1; done'
                    # Additional wait for package manager
                    timeout 300 bash -c 'until adb shell pm list packages > /dev/null 2>&1; do sleep 5; done'

                    adb shell wm size
                    mkdir -p ${{ github.event.inputs.appName }}/debug
                    adb exec-out screencap -p > ${{ github.event.inputs.appName }}/debug/SystemUI1.png

                    adb shell input tap 540 1100
                    adb exec-out screencap -p > ${{ github.event.inputs.appName }}/debug/SystemUI-540-1100.png

                    adb shell input tap 540 1150
                    adb exec-out screencap -p > ${{ github.event.inputs.appName }}/debug/SystemUI-540-1150.png

                    adb shell input tap 500 1150
                    adb exec-out screencap -p > ${{ github.event.inputs.appName }}/debug/SystemUI-500-1150.png


                    cd ${{ github.event.inputs.appName }}/android && ./fastlane/deploy_android.sh screengrab
          
            # 安卓上传应用市场
            - name: android appUpload
              if: ${{ github.event.inputs.appUploadCommand != '' }}
              run: |
                cd ${{ github.event.inputs.appName }}/android
                ./fastlane/deploy_android.sh ${{github.event.inputs.appUploadCommand}}

            
            - name: Upload Screenshots and Logs
              if: always()  
              uses: actions/upload-artifact@v4
              with:
                name: detox-debug-artifacts
                path: |
                  ${{ github.event.inputs.appName }}/debug
                  ${{ github.event.inputs.appName }}/artifacts/**/*.png
                  ${{ github.event.inputs.appName }}/android/fastlane/metadata/android
                retention-days: 5

            - name: Upload build to S3
              continue-on-error: true
              run: |
                # 上传文件夹带 --recursive
                APP_NAME="${{ github.event.inputs.appName }}"

                APK_PATH="$APP_NAME/android/app/build/outputs/apk/debug/app-debug.apk"
                AAB_PATH="$APP_NAME/android/app/build/outputs/bundle/release/app-release.aab"
                SCREENSHOT_DIR="$APP_NAME/android/fastlane/metadata/android/zh-CN/images/phoneScreenshots"

                echo "Checking files for app: $APP_NAME"

                # 上传 APK
                if [ -f "$APK_PATH" ]; then
                  echo "Uploading $APK_PATH to s3://${{ env.BUCKET_NAME }}/$APP_NAME/"
                  aws s3 cp "$APK_PATH" "s3://${{ env.BUCKET_NAME }}/$APP_NAME/"
                fi

                # 上传 AAB
                if [ -f "$AAB_PATH" ]; then
                  echo "Uploading $AAB_PATH to s3://${{ env.BUCKET_NAME }}/$APP_NAME/"
                  aws s3 cp "$AAB_PATH" "s3://${{ env.BUCKET_NAME }}/$APP_NAME/"
                fi

                # 上传截图文件夹
                if [ -d "$SCREENSHOT_DIR" ]; then
                  if [ "$(ls -A "$SCREENSHOT_DIR")" ]; then
                    echo "Uploading screenshots from $SCREENSHOT_DIR to s3://${{ env.BUCKET_NAME }}/$APP_NAME/phoneScreenshots/"
                    aws s3 cp "$SCREENSHOT_DIR" "s3://${{ env.BUCKET_NAME }}/$APP_NAME/phoneScreenshots/" --recursive
                  fi
                fi
        