name: Expo android build and deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose environment (prod or test)'
        required: true
        default: 'test'
      platform:
        description: 'Choose platform (ios or android)'
        required: true
        default: 'all'
      appName:
        description: 'app name'
        required: true
        default: 'app-demo'
      needScreengrab:
        description: 'need screengrab'
        required: true
        default: 'true'
      appUploadCommend:
        description: 'app upload command'
        required: false
        default: ''
      testUserCacheAPK:
        description: 'use test apk'
        required: false
        default: 'false'

jobs:
    
    build-and-test-android:
        name: Android - Build and run Detox tests
        runs-on: ubuntu-latest
        timeout-minutes: 60
        permissions:
            contents: read

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4
              with:
                fetch-depth: 1

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                node-version: 22.2.0
                cache: 'npm'
                cache-dependency-path: './${{ github.event.inputs.appName }}/package-lock.json'

            - name: Set up Ruby
              uses: ruby/setup-ruby@v1
              with:
                ruby-version: '3.4.5'
                bundler-cache: true # 这是一个重要的优化！

            - name: Setup Java
              uses: actions/setup-java@v4
              with:
                distribution: zulu
                java-version: 17

            # 线上环境，下载项目源码
            - name: Download Expo source (for prod environment)
              if: ${{ github.event.inputs.environment == 'prod' }}
              run: |
                curl -L https://your-server.com/expo-source.zip -o app-demo.zip
                unzip app-demo.zip
            
            # 测试环境，恢复谷歌服务账号
            - name: deal test env
              if: ${{ github.event.inputs.environment == 'test' }}
              run: |
                mkdir -p fastlane_templates/certificates/
                echo "$GOOGLE_PLAY_SERVICE_ACCOUNT_JSON" > fastlane_templates/certificates/google-play-service-account.json

            
            - name: Npm install
              run: |
                cd ${{ github.event.inputs.appName }}
                npm install


            # 构建安卓，IOS源码
            - name: Build for iOS or Android
              run: |
                cd ${{ github.event.inputs.appName }}
                if [ "${{ github.event.inputs.platform }}" == "ios" ]; then
                    npx expo prebuild --platform ios
                elif [ "${{ github.event.inputs.platform }}" == "android" ]; then
                    npx expo prebuild --platform android
                elif [ "${{ github.event.inputs.platform }}" == "all" ]; then
                    npx expo prebuild
                fi

            # 执行fastlane配置脚本
            - name: exec manage_fastlane.sh
              run: |
                ./manage_fastlane.sh ${{ github.event.inputs.appName }}

            # 构建安卓的apk包，Abb包(prod)
            - name: android build prod
              if: ${{ (github.event.inputs.platform == 'android' || github.event.inputs.platform == 'all') && github.event.inputs.environment == 'prod' }}
              run: |
                cd ${{ github.event.inputs.appName }}/android
                ./fastlane/deploy_android.sh build_debug
                if [ ! -f "app/build/outputs/apk/debug/app-debug.apk" ]; then
                    echo "app-debug.apk not exists"
                fi
                if [ ! -f "app/build/outputs/apk/androidTest/debug/app-debug-androidTest.apk" ]; then
                    echo "app-debug-androidTest.apk not exists"
                fi
            
            # 构建安卓的apk包，Abb包
            - name: android build test
              env:
                GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              if: ${{ (github.event.inputs.platform == 'android' || github.event.inputs.platform == 'all') && github.event.inputs.environment == 'test' }}
              run: |
                if [ "${{ github.event.inputs.testUserCacheAPK }}" == "false" ]; then
                    cd ${{ github.event.inputs.appName }}/android
                    ./fastlane/deploy_android.sh build_debug
                    if [ ! -f "app/build/outputs/apk/debug/app-debug.apk" ]; then
                    echo "app-debug.apk not exists"
                    fi
                    if [ ! -f "app/build/outputs/apk/androidTest/debug/app-debug-androidTest.apk" ]; then
                    echo "app-debug-androidTest.apk not exists"
                    fi
                else
                    cd ${{ github.event.inputs.appName }}/android
                    
                    mkdir -p app/build/outputs/apk/debug
                    mkdir -p app/build/outputs/apk/androidTest/debug

                    TAG="v1.0.0-data"

                    gh release download $TAG --pattern 'app-debug.apk' --clobber
                    gh release download $TAG --pattern 'app-debug-androidTest.apk' --clobber

                    mv app-debug.apk app/build/outputs/apk/debug/app-debug.apk
                    mv app-debug-androidTest.apk app/build/outputs/apk/androidTest/debug/app-debug-androidTest.apk
                    
                    ls -lR app/build/outputs/apk/
                fi

            - name: Run Detox tests
              uses: reactivecircus/android-emulator-runner@v2
              with:
                api-level: 31
                arch: x86_64
                avd-name: Android_API31
                force-avd-creation: false
                emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none -no-metrics
                disable-animations: false
                script: cd ${{ github.event.inputs.appName }}/android && ./fastlane/deploy_android.sh screengrab