name: Expo IOS Build and Deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose environment (prod or test)'
        required: true
        default: 'test'
      appName:
        description: 'app name'
        required: true
        default: 'app-demo'
      needScreengrab:
        description: 'need screengrab'
        required: true
        default: 'true'
      appUploadCommend:
        description: 'app upload commend'
        required: false
        default: ''

jobs:
  build:
    runs-on: macos-13
    timeout-minutes: 60
    permissions:
      contents: read
    steps:
      # 拉取配置代码
      - name: Checkout code
        uses: actions/checkout@v3

      # 设置node
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      
      # 设置环境变量
      - name: env set
        run: |
            echo "/Users/runner/Library/Android/sdk/cmdline-tools/latest/bin" >> $GITHUB_PATH
            echo "/Users/runner/Library/Android/sdk/platform-tools" >> $GITHUB_PATH
      
      # 线上环境，下载项目源码
      - name: Download Expo source (for prod environment)
        if: ${{ github.event.inputs.environment == 'prod' }}
        run: |
          curl -L https://your-server.com/expo-source.zip -o app-demo.zip
          unzip app-demo.zip
      
  
      # 缓存 npm 安装结果，流程执行完的后续节点进行的缓存，如果流程执行失败，缓存会失败
      - name: Setup Node.js and cache dependencies
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: './${{ github.event.inputs.appName }}/package-lock.json'
      
      # npm 安装依赖
      - name: Install dependencies
        run: |
          cd ${{ github.event.inputs.appName }}
          npm install        
        
      # 构建IOS源码
      - name: Build for iOS
        run: |
          cd ${{ github.event.inputs.appName }}
          npx expo prebuild --platform ios
         

      # 执行fastlane配置脚本
      - name: exec manage_fastlane.sh
        run: |
          ./manage_fastlane.sh ${{ github.event.inputs.appName }} ios
    
      # IOS包构建
      - name: ios build
        run: |
          cd ${{ github.event.inputs.appName }}/ios
          #./fastlane/deploy_ios.sh build_only
      
      #IOS 截屏
      - name: ios screengrab
        if: ${{ github.event.inputs.needScreengrab == 'true' }}
        run: |
          cd ${{ github.event.inputs.appName }}/ios
          ./fastlane/deploy_ios.sh screengrab

      # IOS 上传
      - name: ios appUpload
        if: ${{ github.event.inputs.appUploadCommend != '' }}
        run: |
          cd ${{ github.event.inputs.appName }}/ios
          ./fastlane/deploy_ios.sh ${{github.event.inputs.appUploadCommend}}
      
