name: Expo Build and Deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose environment (prod or test)'
        required: true
        default: 'test'
      platform:
        description: 'Choose platform (ios or android)'
        required: true
        default: 'all'
      appName:
        description: 'app name'
        required: true
        default: 'app-demo'
      needScreengrab:
        description: 'need screengrab'
        required: true
        default: 'true'
      appUploadCommend:
        description: 'app upload commend'
        required: false
        default: ''

jobs:
  build:
    runs-on: macos-13
    timeout-minutes: 60
    steps:
      # 拉取配置代码
      - name: Checkout code
        uses: actions/checkout@v3

      # 设置node
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      
      # 设置环境变量
      - name: env set
        run: |
            echo "/Users/runner/Library/Android/sdk/cmdline-tools/latest/bin" >> $GITHUB_PATH
            echo "/Users/runner/Library/Android/sdk/platform-tools" >> $GITHUB_PATH
      
      # 线上环境，下载项目源码
      - name: Download Expo source (for prod environment)
        if: ${{ github.event.inputs.environment == 'prod' }}
        run: |
          curl -L https://your-server.com/expo-source.zip -o app-demo.zip
          unzip app-demo.zip
      
      # 测试环境，恢复谷歌服务账号
      - name: deal test env
        if: ${{ github.event.inputs.environment == 'test' }}
        run: |
          mkdir -p fastlane_templates/certificates/
          echo "$GOOGLE_PLAY_SERVICE_ACCOUNT_JSON" > fastlane_templates/certificates/google-play-service-account.json
  
      # 缓存 npm 安装结果，流程执行完的后续节点进行的缓存，如果流程执行失败，缓存会失败
      - name: Setup Node.js and cache dependencies
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: './${{ github.event.inputs.appName }}/package-lock.json'
      
      # npm 安装依赖
      - name: Install dependencies
        run: |
          cd ${{ github.event.inputs.appName }}
          npm install
      
      # 缓存安装的安卓模拟器
      - name: Cache Android SDK and Emulator
        id: cache-android
        uses: actions/cache@v4
        with:
          path: |
            ~/.android
            ~/.cache
            /Users/runner/Library/Android/sdk/system-images
          key: android-emulator-${{ runner.os }}-android-30
          restore-keys: |
            android-emulator-${{ runner.os }}-
        
      # 缓存安装的gradle
      - name: Cache gradle
        id: cache-gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle
          key: gradle-${{ runner.os }}-${{ github.event.inputs.environment }}
          restore-keys: |
            android-emulator-${{ runner.os }}-

      # 安装安装模拟器，用于截图
      - name: Install Android SDK and Emulator
        # 如果上一步没有恢复缓存，则执行此步骤
        if: steps.cache-android.outputs.cache-hit != 'true'
        run: |          
          echo "Installing Android SDK and system image..."
          yes | sdkmanager "platforms;android-30" "system-images;android-30;google_apis;x86_64"


          echo "Accepting licenses..."
          yes | sdkmanager --licenses
          
          echo "Creating AVD..."
          echo "no" | avdmanager create avd -n pixel_5 -k "system-images;android-30;google_apis;x86_64" --device "pixel_5"
        
      # 构建安卓，IOS源码
      - name: Build for iOS or Android
        run: |
          cd ${{ github.event.inputs.appName }}
          if [ "${{ github.event.inputs.platform }}" == "ios" ]; then
            npx expo prebuild --platform ios
          elif [ "${{ github.event.inputs.platform }}" == "android" ]; then
            npx expo prebuild --platform android
          elif [ "${{ github.event.inputs.platform }}" == "all" ]; then
            npx expo prebuild
          fi

      # 执行fastlane配置脚本
      - name: exec manage_fastlane.sh
        run: |
          ./manage_fastlane.sh ${{ github.event.inputs.appName }}

      # 构建安卓的IOS包，Abb包
      - name: android build
        if: ${{ github.event.inputs.platform == 'android' || github.event.inputs.platform == 'all' }}
        run: |
          cd ${{ github.event.inputs.appName }}/android
          ./fastlane/deploy_android.sh build_debug


      # 安卓截屏
      - name: android screengrab
        env:
          ANDROID_EMULATOR_FORCE_32BIT: true # 禁用HVF加速
          ANDROID_EMULATOR_USE_HARDWARE_ACCELERATION: false
        if: ${{ (github.event.inputs.platform == 'android' || github.event.inputs.platform == 'all') && github.event.inputs.needScreengrab == 'true' }}
        run: |
          cd ${{ github.event.inputs.appName }}/android
          /Users/runner/Library/Android/sdk/emulator/emulator -avd pixel_5 -no-window -no-audio -gpu swiftshader_indirect -verbose -no-boot-anim & 
          echo "Waiting for the emulator to boot..."
          # 等待模拟器启动完成
          adb wait-for-device
          ./fastlane/deploy_android.sh screengrab
          adb -s emulator-5554 emu kill

      # 安卓上传应用市场
      - name: android appUpload
        if: ${{ (github.event.inputs.platform == 'android' || github.event.inputs.platform == 'all') && github.event.inputs.appUploadCommend != '' }}
        run: |
          cd ${{ github.event.inputs.appName }}/android
          ./fastlane/deploy_android.sh ${{github.event.inputs.appUploadCommend}}

      # IOS包构建
      - name: ios build
        if: ${{ github.event.inputs.platform == 'ios' || github.event.inputs.platform == 'all' }}
        run: |
          cd ${{ github.event.inputs.appName }}/ios
          ./fastlane/deploy_ios.sh build_only
      
      #IOS 截屏
      - name: ios screengrab
        if: ${{ (github.event.inputs.platform == 'ios' || github.event.inputs.platform == 'all') && github.event.inputs.needScreengrab == 'true' }}
        run: |
          cd ${{ github.event.inputs.appName }}/ios
          ./fastlane/deploy_ios.sh screengrab

      # IOS 上传
      - name: ios appUpload
        if: ${{ (github.event.inputs.platform == 'ios' || github.event.inputs.platform == 'all') && github.event.inputs.appUploadCommend != '' }}
        run: |
          cd ${{ github.event.inputs.appName }}/ios
          ./fastlane/deploy_ios.sh ${{github.event.inputs.appUploadCommend}}
