name: Expo IOS Build and Deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose environment (prod or test)'
        required: true
        default: 'test'
      appName:
        description: 'app name'
        required: true
        default: 'app-demo'
      needScreengrab:
        description: 'need screengrab'
        required: true
        default: 'false'
      isFirstRun:
        description: 'is first run'
        required: true
        default: 'false'
      needSaveMetadata:
        description: 'need save metadata'
        required: false
        default: 'false'
      appUploadCommand:
        description: 'app upload commend'
        required: false
        default: 'test_flight'
      language:
        description: 'app use language'
        required: false
        default: 'zh-Hans'

jobs:
  build:
    runs-on: macos-15
    timeout-minutes: 60
    permissions:
      contents: read
    steps:
      # 拉取配置代码
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Parse S3_SECRET
        id: parse
        if: ${{ github.event.inputs.environment == 'test' }}
        run: |
          # 使用管道避免写入文件系统
          ENV_FILE="fastlane_templates/.env"

          AWS_ID=$(echo '${{ secrets.S3_SECRET }}' | jq -r '.aws_access_key_id')
          AWS_KEY=$(echo '${{ secrets.S3_SECRET }}' | jq -r '.aws_secret_access_key')
          AWS_REG=$(echo '${{ secrets.S3_SECRET }}' | jq -r '.region_name')
          BUCKET=$(echo '${{ secrets.S3_SECRET }}' | jq -r '.bucket_name')


          sed -i '' "s|^AWS_ACCESS_KEY_ID=.*|AWS_ACCESS_KEY_ID='${AWS_ID}'|" $ENV_FILE
          sed -i '' "s|^AWS_SECRET_ACCESS_KEY=.*|AWS_SECRET_ACCESS_KEY='${AWS_KEY}'|" $ENV_FILE
          sed -i '' "s|^AWS_REGION=.*|AWS_REGION='${AWS_REG}'|" $ENV_FILE
          sed -i '' "s|^BUCKET_NAME=.*|BUCKET_NAME='${BUCKET}'|" $ENV_FILE

      - name: Select Xcode 16.3
        run: sudo xcode-select -s /Applications/Xcode_16.3.app/Contents/Developer

            # 测试环境，恢复谷歌服务账号
      - name: deal test env
        if: ${{ github.event.inputs.environment == 'test' }}
        run: |
          mkdir -p fastlane_templates/certificates/
          printf "%s" "${{ secrets.AUTHKEY_55A9Z23V8S }}" > fastlane_templates/certificates/AuthKey_55A9Z23V8S.p8
      
      # 线上环境，下载项目源码
      - name: Download Expo source (for prod environment)
        if: ${{ github.event.inputs.environment == 'prod' }}
        run: |
          curl -L https://your-server.com/expo-source.zip -o app-demo.zip
          unzip app-demo.zip
      
  
      # 缓存 npm 安装结果，流程执行完的后续节点进行的缓存，如果流程执行失败，缓存会失败
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.2.0
          cache: 'npm'
          cache-dependency-path: './${{ github.event.inputs.appName }}/package-lock.json'
      
      # npm 安装依赖
      - name: Install dependencies
        run: |
          cd ${{ github.event.inputs.appName }}
          npm install        

      - name: Install applesimutils
        run: brew tap wix/brew && brew install applesimutils
        
      # 构建IOS源码
      - name: Build for iOS
        run: |
          cd ${{ github.event.inputs.appName }}
          npx expo prebuild --platform ios
         

      # 执行fastlane配置脚本
      - name: exec manage_fastlane.sh
        run: |
          ./manage_fastlane.sh ${{ github.event.inputs.appName }} ios
    
      # IOS包构建
      - name: ios build
        run: |
          cd ${{ github.event.inputs.appName }}/ios
          #./fastlane/deploy_ios.sh build_only

      # 下载证书并安装到钥匙链
      - name: ios certificate
        run: | 
          if [ "${{ github.event.inputs.isFirstRun }}" == "true" ]; then
            MATCH_PASSWORD="autocoder.cc123" fastlane match appstore   
          fi
      
      #IOS 截屏
      - name: ios screengrab
        if: ${{ github.event.inputs.needScreengrab == 'true' }}
        run: |
          cd ${{ github.event.inputs.appName }}/ios
          ./fastlane/deploy_ios.sh screengrab

      # IOS 上传
      - name: ios appUpload
        env:
          MATCH_PASSWORD: "autocoder.cc123"
        if: ${{ github.event.inputs.appUploadCommand != '' }}
        run: |
          cd ${{ github.event.inputs.appName }}/ios
          ./fastlane/deploy_ios.sh ${{github.event.inputs.appUploadCommand}}

      - name: Upload Screenshots and Logs
        if: always()  
        uses: actions/upload-artifact@v4
        with:
          name: detox-debug-artifacts
          path: |
            ${{ github.event.inputs.appName }}/ios/fastlane
          retention-days: 5
      
