name: Expo Build and Deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose environment (prod or test)'
        required: true
        default: 'test'
      platform:
        description: 'Choose platform (ios or android)'
        required: true
        default: 'all'
      appName:
        description: 'app name'
        required: true
        default: 'app-demo'
      needScreengrab:
        description: 'need screengrab'
        required: true
        default: 'true'
      appUploadCommend:
        description: 'app upload commend'
        required: false
        default: ''

jobs:
  build:
    runs-on: macos-14
    timeout-minutes: 60
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      
      - name: env set
        run: |
            echo "/Users/runner/Library/Android/sdk/cmdline-tools/latest/bin" >> $GITHUB_PATH
            echo "/Users/runner/Library/Android/sdk/platform-tools" >> $GITHUB_PATH
      
      - name: Download Expo source (for prod environment)
        if: ${{ github.event.inputs.environment == 'prod' }}
        run: |
          curl -L https://your-server.com/expo-source.zip -o expo-source.zip
          unzip expo-source.zip
      
      - name: deal test env
        if: ${{ github.event.inputs.environment == 'test' }}
        run: |
          mkdir -p fastlane_templates/certificates/
          echo "$GOOGLE_PLAY_SERVICE_ACCOUNT_JSON" > fastlane_templates/certificates/google-play-service-account.json
  
      - name: Setup Node.js and cache dependencies
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: './${{ github.event.inputs.appName }}/package-lock.json'

      - name: Install dependencies
        run: |
          cd ${{ github.event.inputs.appName }}
          npm install
          npm install -g expo-cli

      - name: Install Android SDK and Emulator
        run: |
          sdkmanager "platforms;android-30" "system-images;android-30;google_apis;x86_64"

          # Accept licenses
          yes | sdkmanager --licenses

          # Create Pixel_8_Pro emulator
          echo "no" | avdmanager create avd -n Pixel_8_Pro -k "system-images;android-30;google_apis;x86_64" --device "pixel_8_pro"

      - name: Cache Android SDK and Emulator
        uses: actions/cache@v3
        with:
          path: |
            ~/.android
            ~/.cache
            ~/.gradle
            $HOME/.local/share/android
          key: android-emulator-${{ runner.os }}-Pixel_8_Pro
          restore-keys: |
            android-emulator-${{ runner.os }}-
        

      - name: Build for iOS or Android
        run: |
          cd ${{ github.event.inputs.appName }}
          if [ "${{ github.event.inputs.platform }}" == "ios" ]; then
            expo prebuild --platform ios
          elif [ "${{ github.event.inputs.platform }}" == "android" ]; then
            expo prebuild --platform android
          elif [ "${{ github.event.inputs.platform }}" == "all" ]; then
            expo prebuild
          fi

      - name: exec manage_fastlane.sh
        run: |
          ./manage_fastlane.sh ${{ github.event.inputs.appName }}
          
      
      - name: android build
        if: ${{ github.event.inputs.platform == 'android' || github.event.inputs.platform == 'all' }}
        run: |
          cd ${{ github.event.inputs.appName }}/android
          ./fastlane/deploy_android.sh build_debug
          ./fastlane/deploy_android.sh build_aab

      
      - name: android screengrab
        if: ${{ (github.event.inputs.platform == 'android' || github.event.inputs.platform == 'all') && github.event.inputs.needScreengrab == 'true' }}
        run: |
          cd ${{ github.event.inputs.appName }}/android
          ./fastlane/deploy_android.sh screengrab


      - name: android appUpload
        if: ${{ (github.event.inputs.platform == 'android' || github.event.inputs.platform == 'all') && github.event.inputs.appUploadCommend != '' }}
        run: |
          cd ${{ github.event.inputs.appName }}/android
          ./fastlane/deploy_android.sh ${{github.event.inputs.appUploadCommend}}

      
      - name: ios build
        if: ${{ github.event.inputs.platform == 'ios' || github.event.inputs.platform == 'all' }}
        run: |
          cd ${{ github.event.inputs.appName }}/ios
          ./fastlane/deploy_ios.sh build_only
      
      - name: ios screengrab
        if: ${{ (github.event.inputs.platform == 'ios' || github.event.inputs.platform == 'all') && github.event.inputs.needScreengrab == 'true' }}
        run: |
          cd ${{ github.event.inputs.appName }}/ios
          ./fastlane/deploy_ios.sh screengrab

      - name: ios appUpload
        if: ${{ (github.event.inputs.platform == 'ios' || github.event.inputs.platform == 'all') && github.event.inputs.appUploadCommend != '' }}
        run: |
          cd ${{ github.event.inputs.appName }}/ios
          ./fastlane/deploy_ios.sh ${{github.event.inputs.appUploadCommend}}
