name: upload s3

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-14
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v3


      - name: Parse S3_SECRET
        id: parse
        run: |
          # 使用管道避免写入文件系统
          echo "AWS_ACCESS_KEY_ID=$(echo '${{ secrets.S3_SECRET }}' | jq -r '.aws_access_key_id')" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=$(echo '${{ secrets.S3_SECRET }}' | jq -r '.aws_secret_access_key')" >> $GITHUB_ENV
          echo "AWS_REGION=$(echo '${{ secrets.S3_SECRET }}' | jq -r '.region_name')" >> $GITHUB_ENV
          echo "BUCKET_NAME=$(echo '${{ secrets.S3_SECRET }}' | jq -r '.bucket_name')" >> $GITHUB_ENV

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Upload build to S3
        continue-on-error: true
        run: |
          # 上传文件夹带 --recursive
          aws s3 cp app-demo/assets/favicon.png s3://${{ env.BUCKET_NAME }}/ 
          

            
       

